numpy
tqdm
tqdm_joblib
scikit-video
python-pptx 
Pillow 
lxml
joblib
pandas
plotly
flask
gunicorn
jupyter
scipy
seaborn
invoke
umap-learn
scikit-learn
matplotlib
packaging
typing-extensions
decorator
